{% load static %}

<!-- footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer_bottom text_align_center">
          <p>&copy; 2024 Anemia Awareness. All Rights Reserved.</p>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- end footer -->
<!-- JavaScript files -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>
